crewai
exa_py
langchain
exa_py
python-dotenv
crewai[tools]
langchain_groq
bs4
requests
langchain_huggingface
langchain 
qdrant-client
openai 
pypdf 
pypdf2 
langchain-openai 
langchain-community 
uuid 
tiktoken 
pikepdf 
asyncio
streamlit